#header {
    background: url() center center / cover no-repeat;

}

.display-3 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(189, 25, 178);
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card-img-top {
    width: 25px;
    height: 410px;
    object-fit: cover;
}

.card {
    border: 0;
    border-radius: 0;
    background: rgba(193, 18, 184, 0.5);
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-text {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card-footer {
    background: rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 0 20px rgba(184, 23, 228, 0.5);
}